body {
    padding: 40px 150px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 50px 35px;
    
}
.input-box {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.input-box input {
    height: 50px;
    width: 70%;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.tables_section {
    background-color: lightgrey;
    border-radius: 41px;
    min-height: 40vh;
    min-width: 70%;
    margin-top: 50px;
}